# autotools build trash
.dirstamp
.deps

# S.C.O.L.D. build trash
obj
obj/**/*.o
obj/**/*.lo

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
#end

# automake and incendiary-sophist build trash
test-driver
test-suite.log

# Below here, these should be in your personal $HOME/.config/git/config

*~
.#*
.#.*
\#*#

tmp
tmp.*
old
old.*
t99
t99.*
junk
junking
j99
j99.*
o00
o99.*
trash
trashing

o.*.out

tmp
